extends ../../layout/root

block pageModHead
  title Заголовок страницы About
  meta(name="keywords" content="Ключевые слова страницы About")
  meta(name="description" content="Описание страницы About")
  link(rel="stylesheet", href="assets/pages/about.css")
  
block main
  +b.MAIN(role="main").main
    .container
      +e.row Страница About

block pageModFooter
  script(src="assets/pages/about.js")